.header {
    color: white;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 7vw;
}

.icon {
    width: 3em;
    height: auto;
}

.small-icon {
    width: 1.5em;
    height: auto;
}
